<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="includes/header :: header(#{title.index})"></head>
<body>
<main>
    <nav th:replace="includes/header::navig"></nav>
    <section class="listado-posts">
        <h2 th:text="#{title.index}">Blog</h2>
        <th:block th:each="post:${posts}">
            <article class="post">
                <h2>
                    <span th:text="${post.title}"></span>
                    <span class="small" th:text="#{post.by(${post.user.name})}"></span>
                </h2>
                <p th:text="${post.content}"></p>
                <div class="meta-post">
                    <span class="small" th:text="${#dates.format(post.createdOn)}"></span>
                    <ul th:if="${not #lists.isEmpty(post.tags)}" class="tags">
                        <li th:each="tag : ${post.tags}">
                            <a href="#" th:text="${tag.name}">
                            </a>
                        </li>
                    </ul>

                    <!--</section>-->
                    <div>
                        <a class="btn btn-primary"
                           th:href="@{'/posts/' + ${post.id} + '/edit'}"
                           th:text="#{common.edit}"> Edit
                        </a>
                    </div>
                </div>
                <section class="comments-block">
                    <div th:each="comment:${post.comments}" class="comment" title="">
                        <div>
                            <b><span th:text="#{comment.userSaid(${comment.user.name})}">dart vader said:</span></b>
                        </div>

                        <p th:text="${comment.content}">
                            comment.
                        </p>
                    </div>
                    <a class="btn btn-primary"
                       th:href="@{'/posts/'+${post.id}}"
                       th:text="#{post.addComment}"> Add comment
                    </a>
                </section>
            </article>
        </th:block>
    </section>
    <div th:replace="includes/footer::footer"></div>
</main>
</body>
</html>