<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="includes/header :: header"></head>
<body>
<main>
    <section id="listado_posts">
        <h1>BLOG de la UNLu</h1>
        <th:block th:each="post:${posts}">
            <article>
                <h2 th:text="${post}"></h2>
                <p th:text="${post.content}"></p>
            </article>
        </th:block>
        <?php foreach ($posts as $post) : ?>
        <?php $datos = $post->getCamposAndValues(); ?>
        <?php $tags = $post->getTags(); ?>
        <?php $comments = $post->getComments(); ?>
        <article>
            <h2><?= $datos['title'] ?></h2>
            <p><?= $datos['descr'] ?></p>
            <small><?= $datos['fecha'] ?></small>
            <?php if (!empty($tags)) : ?>
            <h4>Tags</h4>
            <ul>
                <?php foreach ($tags as $tag) : ?>
                <li><?= $tag ?></li>
                <?php endforeach; ?>
            </ul>
            <?php endif; ?>
            <div>
                <form action="editPostControl.php" method="post">
                    <input type="number" name="idPost" value="<?= $post->getID(); ?>" style="display: none">
                    <button type="submit"> Editar</button>
                </form>
            </div>

            <section>
                <h3>Comentarios</h3>
                <?php if ($comments) : ?>
                <?php foreach ($comments as $comm) : ?>
                <div class="comment" title="">
                    <h3>Author: <?= $comm->getAuthor() ?></h3>
                    <p> <?= $comm->getBody() ?> </p>
                </div>
                <?php endforeach; ?>
                <?php endif; ?>
                <form action="addComment.php" method="post">
                    <label for="">Author: </label>
                    <input type="text" name="author"> <br>
                    <input class="paragraphInput" type="text" name="body"> <br>
                    <input type="number" name="idPost" value="<?= $post->getID(); ?>" style="display: none">
                    <button type="submit"> Agregar Comentario</button>
                </form>
            </section>

        </article>
        <?php endforeach; ?>
        <?php else : ?>
        <p>No hay posts cargados</p>
        <?php endif; ?>
    </section>
</main>
</body>
</html>