<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:fragment="header(title)">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}?: #{title.default}"></title>
    <!-- Bootstrap  -->
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>
<div class="container">
    <nav th:fragment="navig" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" th:href="@{/}" th:text="#{header.navTitle}">Blog Unlu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../posts.html" th:text="#{nav.posts}" th:href="@{/posts}">Posts todos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../newPost.html" th:text="#{nav.createPost}"
                       th:href="@{/posts/new}">Nuevo</a>
                </li>
                <li>
                    <a href="#" th:href="@{/i18n(lang=en)}">
                        <img th:src="@{/flag-uk.svg}" src="" alt="EN" th:alt="#{header.lang.eng}"
                             style="width:40px;height:30px">
                    </a>
                </li>
                <li>
                    <a href="#" th:href="@{/i18n(lang=es)}">
                        <img th:src="@{/flag-es.svg}" src="" alt="ES" th:alt="#{header.lang.es}"
                             style="width:40px;height:30px">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>
