<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:fragment="header(title)">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}?: #{title.default}"></title>
    <!-- Bootstrap  -->
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>
<div class="container">
    <nav th:fragment="navig" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" th:href="@{/}" th:text="#{header.navTitle}">Blog Unlu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../posts.html" th:text="#{nav.posts}" th:href="@{/posts}">Posts todos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../newPost.html" th:text="#{nav.createPost}"
                       th:href="@{/newPost}">Nuevo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../users.html" th:text="#{nav.users}" th:href="@{/users}">Usuarios</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{header.language}">
                        language
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/i18n(lang=en)}" th:text="#{header.lang.eng}">EN</a>
                        <a class="dropdown-item" th:href="@{/i18n(lang=es)}" th:text="#{header.lang.es}">ES</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>
